ion-content {
  --background: #1e1e2f;
  color: #fff;
  padding: 10px;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: #1e1e2f;
  box-shadow: 0 5px 10px #14141f, 0 -5px 10px #28283f;
  border-radius: 10px;
  margin-bottom: 15px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

#menuButton {
  background: #1e1e2f;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #14141f, -5px -5px 10px #28283f;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

#menuButton:hover {
  box-shadow: inset 5px 5px 10px #14141f, inset -5px -5px 10px #28283f;
}

.username-display {
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
}

#logoutButton {
  background: #1e1e2f;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 5px 5px 10px #14141f, -5px -5px 10px #28283f;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

#logoutButton:hover {
  box-shadow: inset 5px 5px 10px #14141f, inset -5px -5px 10px #28283f;
}

/* Buttons */
ion-button {
  border-radius: 20px;
  background: #1e1e2f;
  color: #fff;
  box-shadow: 5px 5px 10px #14141f, -5px -5px 10px #28283f;
  transition: box-shadow 0.3s ease;
}

ion-button:hover {
  box-shadow: inset 5px 5px 10px #14141f, inset -5px -5px 10px #28283f;
}

/* Username display */
.username-display {
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
}

/* Recent songs */
.track-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.track-item {
  display: flex;
  height: 60px;
  margin: 5px;
  flex-direction: row;
  align-items: center;
  background: #1e1e2f;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #14141f, -5px -5px 10px #28283f;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
  cursor: pointer;
}

.track-item:hover {
  transform: scale(1.05);
  box-shadow: inset 5px 5px 10px #14141f, inset -5px -5px 10px #28283f;
}

.track-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.track-info h3 {
  font-size: 14px;
  margin: 0;
}

.track-info small {
  font-size: 12px;
  color: gray;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #1e1e2f;
  color: #fff;
  box-shadow: 5px 0 10px #14141f, -5px 0 10px #28283f;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.sidebar.open {
  left: 0;
}

/* Options menu */
.options-container {
  position: relative;
}

.options-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.options-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.options-menu button:hover {
  background-color: #444;
}

/* Playlist */
.playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.playlist-info h2 {
  margin: 0;
  font-size: 18px;
}

.playlist-info p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

