.audio-bar {
  display: flex;
  align-items: center;
  background: #181818;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .audio-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
  }

  .audio-details {
    flex-grow: 1;
    .audio-title {
      font-weight: bold;
    }
    .audio-artist {
      font-size: 0.8em;
      color: #ccc;
    }
  }

  ion-button {
    margin-left: 6px;
  }
}
