<ion-content>
  <!-- Encabezado personalizado -->
  <div class="custom-header">
    <button id="menuButton" (click)="goBack()">
      ⬅️
    </button>
    <h1 class="username-display">🎵 Playlist</h1>
  </div>

  <!-- Contenedor principal -->
  <div class="playlist-container">
    <!-- Campo para ingresar el nombre de la playlist -->
    <div class="input-container">
      <label for="playlistName">Nombre de la Playlist</label>
      <input id="playlistName" type="text" [(ngModel)]="playlistName" placeholder="Nueva Playlist" />
    </div>

    <!-- Botón para agregar más canciones -->
    <div class="button-container">
      <button class="action-button primary" (click)="openAddSongModal()">Agregar Canción</button>
      <button class="action-button primary" (click)="savePlaylist()">Guardar Playlist</button>
    </div>

    <!-- Lista de canciones seleccionadas -->
    <ul class="song-list">
      <li *ngFor="let song of selectedSongs" class="song-item">
        <span>{{ song.name }}</span>
        <button class="action-button secondary" (click)="removeSong(song.id)">Eliminar</button>
      </li>
    </ul>
  </div>
</ion-content>

<app-audio-player></app-audio-player>
<app-navbar></app-navbar>
